<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_num_div">
    Divide this:
  </label>
  <input id="first_num_div" name="first_num_div" type="text">

  <label for="second_num_div">
    by this:
  </label>
  <input id="second_num_div" name="second_num_div" type="text">

  <button>
    Divide!
  </button>
</form>
